img {
    padding: 0 0.1em;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border: 4px solid white;
    border-radius: 5px;
}
.female {
    border: 4px solid #ff1493;
}
.male {
    border: 4px solid #0000ff;
}
.unknown {
    border: 4px solid rgb(100,100,100);
}