.face-group-container {
    border: 1px solid black;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border-radius: 5px;
    background-color: rgba(200,200,200,0.3);
}
.button.faces-left {
    transition: background-color 0.25s ease;
    border: 1px solid black;
    position: fixed;
    opacity: .9;
}
.button.faces-right {
    transition: background-color 0.25s ease;
    border: 1px solid black;
    position: fixed;
    opacity: .9;
}
.button.faces-right:hover, .button.faces-left:hover {
    background-color: rgba(210,210,210,0.9);
}

@media all and (min-width: 801px) {
    .face-group-container {
        padding: 4em 1em 1em 1em;
        margin: 0 6em 4em 6em;
    }
    .button.faces-left {
        top: 50%;
        left: 10px;
    }
    .button.faces-right {
        top: 50%;
        right: 10px;
    }
}
@media all and (max-width: 800px) {
    .face-group-container {
        padding: 4em 0 1em 0;
        margin: 0.5em;
    }
    .button.faces-left {
        top: 80%;
        left: 10px;
    }
    .button.faces-right {
        top: 80%;
        right: 10px;
    }
}
