.instructions-container {
    border: 1px solid rgba(100,100,100,0.2);
    border-radius: 4px;
}
li {
    margin: 0.5em 0;
}

@media all and (min-width: 801px) {
    .instructions-container {
        margin: 1em;
    }
  }
  @media all and (max-width: 800px) {
    .instructions-container {
        margin: 0.1em;
    }
  }