.landing-page {
    background-color: rgb(40,40,40);
    min-height: 100vh;
}

.overlay {
    background-image: url('../img/face-capture-screenshot.jpg');
    background-repeat: no-repeat;
    background-position: top center;
}

.intro-text {
    color: white;
    font-size: 20pt;
}
@media all and (min-width: 801px) {
    .intro-text {
        padding: 4em 2em;
    }
  }
  @media all and (max-width: 800px) {
    .intro-text {
        padding: 2em .5em;
    }
  }

.get-started {
    font-size: 30pt;
    border-radius: 10px;
}
.get-started:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #ff1493, #0000ff);
    color: white;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    text-decoration: none;
    color: rgb(150,150,150);
}
a:active {
    color: white;
}