.graph-container {
    height: 250px;
    margin: 4em 0 6em 0;
}
@media all and (min-width: 801px) {
    .graph-container {
        width: 50%;
    }
}
@media all and (max-width: 800px) {
    .graph-container {
        width: 95%;
    }
}