.face-box {
    position: absolute;
    pointer-events: none;
    transition: all 0.01s linear;
    border-radius: 4px;
    box-shadow: 0 0 5pt 1pt black;
    border: 2px solid;
}
.percentage-box {
    border: 1px solid black;
    width: calc(100%-2px);
    height: 5px;
}
.video-details {
    position: relative;
    text-align: center;
    margin: .75em .75em .25em .75em;
}
.video-top-container {
    margin: auto;
    border: 1px solid rgba(100,100,100,0.5);
    box-shadow: 0 0 2pt 1pt rgba(100,100,100,0.5);
}
.video-container {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
    width: calc(100%-1px);
    height: 100%;
    border: 1px solid rgba(100,100,100,0.5);
}
.react-player {
    position: absolute;
    top: 0;
    left: 0;
}
@media all and (min-width: 801px) {
    .video-top-container {
        width: 50%;
        height: 50%;
    }
}
@media all and (max-width: 800px) {
    .video-top-container {
        width: 95%;
        height: 95%;
    }
}
